.main{

    display: flex;
    flex-direction: column;
    flex-basis: auto;
    height: 90vh;
    background-color: rgb(0, 76, 82);
    color:white;
    background-image:url(../img/contact.jpg);
    filter: grayscale(0.9);
    background-position:50% 80% ;
    background-size:auto;
    background-repeat: no-repeat;

}

.main h1{
    font-size: 100px;
    text-shadow: 4px 4px black;
}

.contact {
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;


}

.contact input {
    margin: 20px;
    height: 30px;
   
}