.nav {
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border : 2px solid black;
    background-color: rgb(0, 94, 131);
    color:white;
}

.nav ul {
    flex-basis: 30%;
    text-decoration: none;
    text-transform: uppercase;
   
}